{% extends 'tedify/base.html' %}
{% load static %}

{% block head %}{% endblock head %}
{% block title %}Tedify | Genres{% endblock title %}
{% block body %}
<h1>Genres<h1>
<div class="container">
    {% for genre in object_list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{genre.name}}</h5>
            <p class="card-text">{{genre.description}}</p>
            <form action="{% url 'music:artists' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="genre" value="{{genre.name}}">
                <input type="submit" class="btn btn-primary" value="Artists">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}

